<h3><%= @title %></h3>

<% @members.each do |fuser| %>
  <ol>
    <span class="user">
      <%= link_to gravatar_for(fuser, size: 50), fuser %>
      <%= link_to fuser.name, fuser %><br><br><br>
    </span>
  </ol>
<% end %>